<div class="faq-container">
  <div class="faq-header">
    <h1>Preguntas Frecuentes</h1>
    <p>Resolvemos todas tus dudas para que compres con total confianza.</p>
  </div>

  <div class="faq-content">
    <div class="faq-item">
      <h3>¿Hacen envíos a todo el país?</h3>
      <p>¡Sí! Realizamos envíos a toda la República Argentina a través de <strong>Correo Argentino</strong>. Puedes elegir envío a tu domicilio o a la sucursal más cercana. Además, recuerda que si tu compra supera los $120.000, <strong>el envío es totalmente GRATIS</strong>.</p>
    </div>

    <div class="faq-item">
      <h3>¿Qué medios de pago aceptan?</h3>
      <p>Aceptamos todos los medios de pago a través de <strong>MercadoPago</strong>. Puedes abonar con tarjetas de crédito, débito o dinero en tu cuenta de MercadoPago</p>
    </div>

    <div class="faq-item">
      <h3>¿Cuánto demora en llegar mi pedido?</h3>
      <p>El tiempo de despacho es de 24 a 48 horas hábiles tras la confirmación del pago. Luego, el tiempo de tránsito de Correo Argentino suele ser de 2 a 6 días hábiles dependiendo de si estás en Córdoba o en otra provincia.</p>
    </div>

    <div class="faq-item">
      <h3>¿Los productos son originales?</h3>
      <p>No, en Corner trabajamos con réplicas premium de excelente calidad. Si tenés dudas lo podés ver en nuestro local, o si estás lejos contactanos por wpp para pedirnos fotos que se aprecie la calidad de la ropa.</p>
    </div>

    <div class="faq-item">
      <h3>¿Tienen políticas de cambio?</h3>
      <p>¡Por supuesto! Si la prenda te quedó chica o grande, tienes 15 días desde que la recibes para solicitar un cambio. La prenda debe estar sin uso. Los costos de envío por cambios de talle corren por cuenta del cliente, salvo que haya habido un error de nuestra parte.</p>
    </div>

    <div class="faq-item">
      <h3>Aún tengo dudas, ¿cómo me contacto?</h3>
      <p>Puedes escribirnos directamente presionando el ícono de <strong>WhatsApp</strong> o buscarnos en nuestras redes sociales. ¡Estamos para ayudarte!</p>
    </div>
  </div>
</div>
